/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';

button:disabled {
  cursor: not-allowed;
}

div.container-fluid.max-width {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}

.cursor-default {
  cursor: default;
}

.cursor-default:disabled {
  cursor: default;
}
